<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azurefunctiondemo20241216121505.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b2deb829-8e86-4263-9b63-856d1033b30d/resourcegroups/Training/providers/Microsoft.Web/sites/AzureFunctionDemo20241216121505</ResourceId>
    <UserName>$AzureFunctionDemo20241216121505</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://azurefunctiondemo20241216121505.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>